{% extends 'base.html' %}
{% load static %}
<div class="row">
  <div class="col-sm">
    {% block content %}
    <div class="container-fluid">
      <div>{{ shows.total_results }}</div><br>
      <div>{{ shows.total_pages }}</div><br>
      <div>{{ shows.page }}</div><br>


      <div id="csrf_token">
        {% csrf_token %}
      </div>

      <div class="row">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" onclick="changePage('{{ shows.page  }}'- 1)">Previous</a></li>
            <li class="page-item"><a class="page-link" onclick="changePage('1')">First</a></li>
            <li class="page-item"><a class="page-link" onclick="changePage('{{ shows.total_pages }}')">Last</a></li>
            <li class="page-item"><a class="page-link" onclick="changePage(Number('{{ shows.page }}') + 1)">Next</a></li>
          </ul>
        </nav>
      </div>
      <!-- MAIN BLOCK -->
      <div class="row">
        <div class="col-sm-4" style="align-content: center;">
          <label for="name">Nome</label>
           <input type="text" value="" id="name" onchange="changeHandler('name')" autocomplete="on">
        </div>
        <div class="col-sm-4" style="align-content: center;">
          <label for="first_air_date">ano de lançamento</label>
           <input type="text" value="" id="first_air_date" onchange="changeHandler('first_air_date')" autocomplete="on">
        </div>
        <div class="col-sm-4" style="align-content: center;">
          <label for="popularity">popularidade</label>
          <select name="popularityFilter" id="popularity" onchange="changeHandler('popularity')">
            <option value="" selected></option>
            <option value="popularity.asc"> ASC</option>
            <option value="popularity.desc"> DESC</option>
          </select>
        </div>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">nome</th>
              <th scope="col">descrição</th>
              <th scope="col">pôster</th>
              <th scope="col">popularidade</th>
              <th scope="col">primeiro episódio</th>
              <th scope="col">gêneros</th>
              <th scope="col">avaliações </th>
              <th scope="col">avaliar</th>
            </tr>
          </thead>
          <tbody>
            {% for item in shows.results %}
              <!-- <p>{{ shows.results }}</p> -->
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.overview }}</td>
                <td><img src="https://image.tmdb.org/t/p/w500/{{ item.poster_path }}" alt="N/T" style="width: 70%;"></td>
                <td>{{ item.popularity }}</td>
                <td>{{ item.first_air_date }}</td>
                <td>{{ item.genre_ids }}</td>
                <td>{{ item.vote_count }}</td>
                <td>
                  <div class="input-group" style="width: 120px;">
                    <input type="number" class="form-control" id="rating" name="rating" min="0.5" max="10">
                    <button type="button" class="btn btn-success btn-sm" onclick="rating('rating','{{ item.id }}')"> Rate </button>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>




    </div>
    {% endblock %}
  </div>
</div>
