{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #83d0f2;">
  <div class="linksign">
    <a class="navbar-brand" href="{% url 'shows:index' %}" style="margin-left: 15%;">
      <!-- Home -->
      <!-- <img src="{% static 'img/notes_logo.png' %}" width="30" height="30" alt=""> -->
      <img src="{% static 'img/list-alt.svg' %}" alt="logo" width="30" height="30" >
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      {% if user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'shows:index' %}">Categories</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link linksign" href="{% url 'shows:index' %}">Tags</a>
        </li>
      {% else %}
        <li class="nav-item active">
        </li>
      {% endif %}


    </ul>
    <span class="navbar-text" style="color:black;">
      {% block welcome_message %}
        {% if user.is_authenticated %}
          <h5>Welcome to Notes {{ user.username }}!!!</h5>
        {% else %}
          The Movie Database
        {% endif %}
      {% endblock %}
    </span>
  </div>
</nav>
